.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Inconsolata", sans-serif;
  font-size: 35px;
}

.singlePostEdit {
  display: inline;
  font-size: 30px;
}

.singlePostIcon {
  margin-left: 20px;
  float: right;
  cursor: pointer;
}

.singlePostIcon:nth-child(1) {
  color: red;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.singlePostDescription {
  font-size: 20px;
  color: #666;
  line-height: 30px;
  text-align: justify;
}

.singlePostDescription::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
