.sidebar {
  flex: 3;
  margin: 1.25em;
  padding-bottom: 1.875em;
  background-color: #f6fafd;
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarProfilePic {
  width: 20em;
  height: 20em;
  margin-top: 0.9375em;
  border-radius: 60%;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 0.625em;
  padding: 0.3125em;
  width: 80%;
  font-family: "Inconsolata", sans-serif;
  font-size: 1.2em;
  color: #222;
  font-weight: 600;
  line-height: 1.25em;
  text-align: center;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
}

.sidebarItem > p {
  padding: 1.875em;
}

.sidebarList {
  list-style: none;
  margin-bottom: 1.875em;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 0.9375em;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 0.9375em;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcons {
  font-size: 1.5625em;
  margin-left: 0.9375em;
  margin-right: 0.9375em;
  cursor: pointer;
}
