.post {
  width: 24.0625em;
  margin: 0em 1.5625em 2.5em 1.5625em;
}

.postImg {
  width: 100%;
  height: 17.5em;
  object-fit: cover;
  border-radius: 0.4375em;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Inconsolata", sans-serif;
  font-size: 0.9375em;
  color: #be9656;
  line-height: 1.25em;
  margin-top: 0.9375em;
  margin-right: 0.625em;
  cursor: pointer;
}

.postTitle {
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.9375em;
  cursor: pointer;
}

.postDate {
  font-family: "Inconsolata", sans-serif;
  font-style: italic;
  font-size: 0.8125em;
  color: #999;
  margin-top: 0.9375em;
}

.postDescription {
  font-family: "Inconsolata", sans-serif;
  color: #444;
  text-align: justify;
  line-height: 1.5em;
  margin-top: 0.875em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
